.grid {
    height: 600px;
    width: 400px;
    background-color: yellow;
    position: relative;
    font-size: 40px;
    text-align: center;
}
.showlvl{
    font-size: 40px;
    text-align: center;
    width: 400px;
}

.car {
    width: 60px;
    height: 85px;
    
    background-image: url(car.png);
    
    background-size: contain;
    position: absolute;
}

.platform {
    width: 85px;
    height: 15px;
    background-color:red;
    position: absolute;
}